<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="OkulGirisSistemiConnectionString"
			 connectionString="Data Source=localhost\MSSQLSERVER01;Initial Catalog=okulGirisSistemi;Integrated Security=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
	<!-- Diğer yapılandırma bölümleri buraya eklenebilir -->
</configuration>
